<mat-toolbar>
  <span>My App</span>
  <span class="example-spacer"></span>
  <span *ngIf="caseId">Case ID: {{caseId}}</span>
  <button mat-raised-button color="primary" (click)="createParentChain()">Create Case</button>
</mat-toolbar>
 <mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item [routerLink]='nav' *ngFor="let nav of navList">{{nav | uppercase}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>